---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'proximanovasoft';
  src: url('/fonts/proximanovasoft-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'VarelaRound';
  src: url('/fonts/VarelaRound-Regular.ttf') format('truetype');
}

header {
    width: 100%;
    float: none;
    position: static;
    //-webkit-font-smoothing:subpixel-antialiased;
}

section {
    width: 100%;
    float: none;
    position: static;
}

footer {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: proximanovasoft, sans-serif;
}

body {
    font-family: VarelaRound, sans-serif;
}