---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'proximanovasoft';
  src: url('/fonts/proximanovasoft-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'VarelaRound';
  src: url('/fonts/VarelaRound-Regular.ttf') format('truetype');
}

header {
    width: 100%;
    float: none;
    position: static;
    //-webkit-font-smoothing:subpixel-antialiased;
}

section {
    width: 100%;
    float: none;
    position: static;
}

footer {
    float: none;
    width: 100%;
    position: static;
    
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(103,103,103);    
}

h1, h2, h3, h4, h5, h6 {
    font-family: proximanovasoft, sans-serif;
    color: #000000;
}

body {
    font-family: VarelaRound, sans-serif;
    color: rgb(103,103,103);
}

img.inline-centered {
    width: 512px; 
    border-radius: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}